{% extends "base.html" %}
{% block content %}


<style>
  .about{
    margin-top: 70px;
  }
  p {
    font-size: 20px;
  }
  p.about-text{
    font-size: 16px;
  }
</style>
<div class="about">
  <p>About Us</p>
  <p>We are some plain ol' swag boys with a penchant for post moves.</p>
  <p>Catch us courtside on our home turf: Anywhere, USA.</p>
  <p class='about-text'>This blog is run by your friends Dean Goldman and Nino Galluzzo. We provide insightful commentary
  on all things:</p>
    <ul>
      <li>bball</li>
      <li>bball</li>
      <li>bball</li>
      <li>bball</li>
    </ul>
</div>
{% endblock %}
