<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dean Blog</title>

  </head>

  <body>
    <!-- <nav> -->
<style>
    .topnav{
      position: relative;
      left: 500px;
      top: 100px;

    }
    .topnav ul {
      color: #000000;
      list-style-type: none;
    }
    .topnav li {
      margin-top: 15px;
      font-size: 20px;
      margin-right: 50px;
      text-align: center;
    }
    a, a:visited {
      text-decoration: none;
      color:black;
    }


</style>
        <div class="topnav">
          <ul>
            <li>
              <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('blogposts') }}">Archive</a>
            </li>
            <li>
              <a href="{{ url_for('about') }}">About</a>
            </li>
            <li>
              <a href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>

<div>
    <!-- Main Content -->
{% block content %}

{% endblock %}
</div>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">

            <p class="copyright text-muted">&copy; bball</p>

        </div>
      </div>
    </footer>

    <!-- Custom scripts for this template -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( ".postblock" ).draggable();
        // $('.postblock').each(function(i,el){
        //   var tLeft = Math.floor(Math.random()*1000),
        //   tTop  = Math.floor(Math.random()*1000);
        //   $(el).css({position:'absolute', left: tLeft, top: tTop});
        // });
      });
    </script>

  </body>

</html>
