{% extends "base.html" %}
{% block content %}
  <!-- Scripts for this Page -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function() {
      $('.block').each(function(i,el){
        $(el).css({"right": Math.random()*300});
      });
      if ($(window).width() <= 700){
        $('.topnav').html("<h4>HOOPSTOR</h4>");
        $('footer').html("");
      }
    });
  </script>
    <!-- Stlyes for this Page -->
    <style>
      img {
        width: 300px;
      }
      .welcome{
        margin-top: 50px;
        margin-bottom: 70px;
      }
      #postblock {position:relative; width:300px; margin: 0 auto;}
      #postblock .image,
      #postblock .text {transition: 0.1s;}
      #postblock .text {
        position:absolute;
        color:black;
        top:50%;
        left:30px;
        opacity:0;
        transform: translate(0, -50%);
        width: 250px;
      }
      #postblock:hover .image {opacity:0;}
      #postblock:hover .text {
        opacity: 1;
      }
      @media screen and (max-width: 699px) {
        ul li div {
          right: 35% !important;
          flex-grow: 100;
        }
      }
    </style>
    <!-- Main Content -->
    <main>
    <ul style="list-style: none;">
      <li>
        <div class="block" id="postblock">
          <a href="post/1">
            <img class="image" src="static/clyde.jpg">
          <div class="text">
            <div>
              NBA Swag Lifetime Achievement Award
            </div>
            <p>Posted by D on 1/5/18</p>
          </div>
          </a>
        </div>
      </li>
      <li>
        <div class="block" id="postblock">
          <a href="post/2">
            <img class="image" src="static/elgin-baylor-triple-double.jpg">
          <div class="text">
            <div>
              How You Can Run Up a 52/25/10 Night While Looking Like You're Still Learning How to Dribble
            </div>
            <p>Posted by D on 1/7/18</p>
          </div>
          </a>
        </div>
      </li>
    </ul>
  </main>
{% endblock %}
