{% extends "base.html" %}
{% block content %}

<!-- Header -->
<style>
.postblock{
  width: 500px;
}
</style>
<main>
<img id="image" class="postblock image" src="../static/wallpaper_monarchs_800.jpg">
<div id="title" class="postblock">
  <h1>An Ode to Monarchs</h1>
  <span id="author">
    Posted by d on 1/15/18
  </span>
</div>

  <!-- Post Content -->
<article>
  <div class="postblock">
    <p id="article">T'was the year 2005, when the fine women of the Sacramento Monarchs, of whose
      legendary ballerness will forever transcribed in the scrolls of thy game, for bringing home
      the coveted WNBA Championship ring to the citizens of a good tri-county area.</p>
    <p id="article"> I also used to ball out every day with a monarchs ball, I knew it had special powers...</p>


    <img id="image" class="postblock image" src="../static/monarchs-basketball.jpg">

    <img id="main" class="postblock image" src="../static/monarchs-bush.jpg">
  </div>
</main>
</article>
{% endblock %}
