{% extends "base.html" %}
{% block content %}

<!-- Header -->
<style>
.postblock{
  width: 500px;
}
</style>
<main>
<img id="main" class="postblock image" src="../static/natethurmond.jpg">
<div id="title" class="postblock">
  <h1>Nate The Great: 1946 - 2016</h1>
  <span id="author">
    Posted by g on 1/29/18
  </span>
</div>

  <!-- Post Content -->
<article>
  <div class="postblock">
    <p id="article">
    The year was 1963 and Nate Thurmond was the talented big man for the San Francisco Warriors. Playing along side NBA legend Wilt Chamberlain in his rookie year, Thurmond averaged 10 rebounds per game and a spot on the all NBA rookie team. Wilt was traded the following year to the 76ers and Thurmond took over the starting center position. He turned into a dominant force in the post averaging 20 points and 20 rebounds for four seasons. Among other statistical feats he was the first NBA player to record a quadruple double with 22 points, 14 rebounds, 13 assists, and 12 blocked shots. He also holds the record for most rebounds in a quarter with 18. Chamberlain once said in an interview on TV that Nate Thurmond was one of the toughest defenders in the league.
    </p>
  </div>
</main>
</article>
{% endblock %}
