{% extends "base.html" %}
{% block content %}

<!-- Header -->
<style>
.postblock {
  width:500px;
}

</style>
<main>
<img id="main" class="postblock image" src="../static/clyde.jpg">
<div id="title" class="postblock">
  <h1>NBA Swag Lifetime Achievement Award</h1>
  <span id="author">
    Posted by d on 1/5/18
  </span>
</div>

  <!-- Post Content -->
<article>
  <div class="postblock">
    Our inaugural swag award goes to none other than Walt "Clyde" Frazier. Walt, We salute you.
  </div>
</article>
</main>
{% endblock %}
