{% extends "base.html" %}
{% block content %}

<!-- Header -->
<style>
.postblock{
  width: 500px;
}
</style>
<main>
<img id="main" class="postblock image" src="../static/gabe3.png">
<div id="title" class="postblock">
  <h1>Rare and Legendary Basketball Collages</h1>
  <span id="author">
    Posted by d, g on 5/16/18
  </span>
</div>

  <!-- Post Content -->
<article>
  <div class="postblock">
    <img id="image" class="postblock image" src="../static/gabe1.png">
    <img id="image" class="postblock image" src="../static/gabe2.png">
    <img id="image" class="postblock image" src="../static/gabe3.png">
    <img id="image" class="postblock image" src="../static/gabe4.png">
    <img id="image" class="postblock image" src="../static/gabe5.png">
    <img id="image" class="postblock image" src="../static/gabe6.png">
    <img id="image" class="postblock image" src="../static/gabe7.png">
</p>
</div>
</article>
{% endblock %}
