{% extends "base.html" %}
{% block content %}

<!-- Header -->
<style>
.postblock{
  width: 500px;
}
</style>
<main>
<img id="main" class="postblock image" src="../static/young-drj.jpg">
<div id="title" class="postblock">
  <h1>Sports Century 100 Greatest Athletes Documentary: Julius Erving, A Review</h1>
  <span id="author">
    Posted by d on 1/15/18
  </span>
</div>

  <!-- Post Content -->
<article>
  <div class="postblock">
    <p id="article">This video is an exerpt from a <a href="https://www.youtube.com/watch?v=BBUOHVIZPco">classic ESPN documentary</a>
      on Greatest Athletes. It chronicles the career and life of Dr. J. who we owe for popularizing the "slam dunk".</p>

    <img id="image" class="postblock image" src="../static/drj-rucker.jpg">
    <img id="image" class="postblock image" src="../static/drj.jpg">

  </div>
</main>
</article>
{% endblock %}
