{% extends "base.html" %}
{% block content %}

<!-- Header -->
<style>
.postblock{
  width: 500px;
}
</style>
<main>
<img id="main" class="postblock image" src="../static/larry-nance-3.jpg">
<div id="title" class="postblock">
  <h1>Nance'd</h1>
  <span id="author">
    Posted by d on 2/14/18
  </span>
</div>

  <!-- Post Content -->
<article>
  <div class="postblock">
    <p id="article">In the title picture of this post, we see Larry Nance the Elder, honing in on a jumper as the soft light of Winston cigarette advert glows in the stadium. I was going to make this post about Larry Nance, but now I'm just going to share photos of arena signeage. That shit goes for something like $30,000 a pop.
<br><br>
Larry Nance was a baller, and won the first dunk contest ever. Congrats Larry, have a smoke.
<br>
<h1>Jamal Delta</h1>
<img id="image" class="postblock image" src="../static/delta-jamal-crawford.jpg">
<h1>Shaq Marb</h1>
<img id="image" class="postblock image" src="../static/marlboro-shaq.jpg">
<h1>Sprite Tim </h1>
<img id="image" class="postblock image" src="../static/sprite-tim-duncan.jpg">
<h1>Target Hakeem</h1>
<img id="image" class="postblock image" src="../static/target-hakeem.jpg">
<h1>Fedex Kemba</h1>
<img id="image" class="postblock image" src="../static/fedex-kemba.jpg">
<h1>Winston Mark and Winston Dan</h1>
<img id="image" class="postblock image" src="../static/winston-eaton.jpg">
<img id="image" class="postblock image" src="../static/winston-majerle.jpg">
<h1>Kudos Vons Larry</h1>
<img id="image" class="postblock image" src="../static/kudos-larrybird.jpg">
<h1>Perry Ellis Clyde Dillard</h1>
<img id="image" class="postblock image" src="../static/perry-ellis-clyde.jpg">
<h1>AT&T Lebron</h1>
<img id="image" class="postblock image" src="../static/att-lebron.jpg">
<h1>Trippy Oladipo</h1>
<img id="image" class="postblock image" src="../static/trippy-oladipo.jpg">
</p>

</div>
</main>
</article>
{% endblock %}
