{% extends "base.html" %}
{% block content %}

<!-- Header -->
<style>
img {
  width:200px;
}
.postblock{
  width: 800px;
}
</style>
<img class="postblock image main" src="../static/elgin-baylor-triple-double.jpg">
<div class="postblock title">
  <h1>How You Can Run Up a 52/25/10 Night While Looking Like You're Still Learning How to Dribble</h1>
  <span>
    Posted by d on 1/5/18
  </span>
</div>

  <!-- Post Content -->
<article>
  <div class="postblock">
    <p>We love pics of Elgin Baylor, here's a few more.</p>
    <img class="postblock image" src="../static/elgin-lighting.jpg">
    <img class="postblock image" src="../static/1966-0417-19-Elgin-Baylor-Bill-Russell-001312554.jpg">
    <p>Also, what happened to this kind of lighting for basketball games?? The chiaroscuro!!</p>
    <img class="postblock image" src="../static/bruntileschi.jpg">
    <p>Header picture and stat found on the <a href="https://twitter.com/NBAHistory">@NBAHistory</a> twitter. Post <a href="https://twitter.com/nbahistory/status/847271736408104961">here</a>.</p>
  </div>
</article>
{% endblock %}
